<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=greenpole</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password">Disemb0died!!2</property>
    <property name="hibernate.dialect">org.hibernate.dialect.SQLServer2012Dialect</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <!--
    <property name="hibernate.connection.datasource">jdbc/greenpoledatasource</property>
    -->
    <mapping resource="org/greenpole/hibernate/entity/Caution.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/Administrator.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/HolderVoting.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/StockbrokerHolder.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/Certificate.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/HolderCompanyAccount.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/HolderChanges.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/PropertyThreadpool.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/EnvironmentalVariables.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/PowerOfAttorney.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/DigitalCapture.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/CertificateChangeRecord.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/StockbrokerSignature.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/PropertyEmail.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/Dividend.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/DividenAnnotation.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/ClientCompanyEmailAddress.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/TextMessage.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/PropertyNotifiers.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/AgentSignature.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/AdministratorEmailAddress.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/CertificateTransfer.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/ClearingHouse.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/DividendIssueType.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/RightsIssue.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/ClientCompany.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/Depository.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/Gm.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/BondOfferPaymentPlan.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/PrivatePlacementApplication.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/Requirement.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/DividendSettlement.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/PrivatePlacement.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/StockbrokerAgent.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/AuditLog.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/DividendDeclared.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/SuspendedTransaction.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/AprDepartment.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/AdministratorPhoneNumber.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/SuspendedTransactionHolder.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/Reconstruction.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/CertificateVerification.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/BondOffer.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/CompanyAccountConsolidation.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/IpoApplication.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/VotingProcess.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/CertificateLodgement.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/HolderBonus.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/HolderResidentialAddress.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/Stockbroker.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/AdministratorPostalAddress.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/ShareQuotation.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/HolderSignature.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/HolderType.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/PropertyGreenpoleEngine.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/Notification.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/AdministratorResidentialAddress.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/ClientCompanyPhoneNumber.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/PropertySms.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/StockbrokerAddress.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/CertificateEvent.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/RequirementFunction.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/AprUnit.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/HolderGmAttendance.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/StockbrokerEmailAddress.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/ProcessedTransaction.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/PropertyNotifications.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/Coupon.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/Holder.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/AdministratorHolder.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/PropertyQueueConfig.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/HolderPhoneNumber.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/BondType.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/NseSector.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/HolderBondAccount.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/ProcessedTransactionHolder.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/Reminder.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/HolderPostalAddress.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/HolderEmailAddress.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/TransactionType.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/InitialPublicOffer.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/UserAccess.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/ClientCompanyAddress.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/HolderChangeType.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/Bank.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/StockbrokerPhoneNumber.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/RightsIssueApplication.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/Group.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/AccountConsolidation.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/ShareBonus.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/ReconstructionType.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/entity/UserAccount.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
