<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=greenpole</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password">Disemb0died!!2</property>
    <property name="hibernate.dialect">org.hibernate.dialect.SQLServer2012Dialect</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <mapping resource="org/greenpole/hibernate/hbm/HolderVoting.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/PowerOfAttorney.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/PrivatePlacement.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/StockbrokerEmailAddress.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/Administrator.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/HolderEmailAddress.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/Notification.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/ShareBonus.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/HolderSignature.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/ClientCompanyPhoneNumber.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/VotingProcess.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/HolderPhoneNumber.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/Dividend.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/RequirementFunction.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/AdministratorPostalAddress.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/CertificateLodgement.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/AdministratorEmailAddress.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/HolderPostalAddress.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/Certificate.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/AprDepartment.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/StockbrokerSignature.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/AdministratorPhoneNumber.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/StockbrokerPhoneNumber.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/HolderResidentialAddress.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/RightsIssueApplication.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/StockbrokerAddress.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/RightsIssue.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/Gm.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/InitialPublicOffer.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/AprUnit.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/DividendIssueType.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/ProcessedTransactionHolder.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/Caution.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/DividendSettlement.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/PrivatePlacementApplication.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/Holder.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/IpoApplication.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/AgentSignature.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/StockbrokerAgent.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/ProcessedTransaction.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/Group.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/Reconstruction.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/CertificateVerification.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/Bank.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/BondOffer.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/Coupon.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/HolderGmAttendance.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/Reminder.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/DividendDeclared.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/AdministratorResidentialAddress.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/DividenAnnotation.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/Stockbroker.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/Depository.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/SuspendedTransactionHolder.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/Requirement.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/DigitalCapture.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/HolderCompanyAccount.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/ClientCompanyEmailAddress.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/ClearingHouse.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/ClientCompany.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/SuspendedTransaction.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/ShareQuotation.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/UserAccount.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/UserAccess.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/ClientCompanyAddress.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/NseSector.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/HolderBondAccount.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/HolderChanges.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/AuditLog.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/CompanyAccountConsolidation.hbm.xml"/>
    <mapping resource="org/greenpole/hibernate/hbm/AccountConsolidation.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
